.schedule {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(to bottom, #fff 25%, #4e160f 25%, #4e160f 75%, #fff 75%); */
  background: radial-gradient(circle,rgba(78, 22, 15, 1) 30%, rgba(78, 22, 15, 1) 65%, rgba(255, 255, 255, 1) 100%);
}

.schedule-container {
  margin-top: 5px;
  max-width: 60%;
}

.schedule-container img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}